.ForSteps{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ForSteps_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: $BgColor;
    h2{
      color: $color4;
      border-bottom:1px solid $color4;

    }
    li{
      text-align: center;
      color: $color4;
    }
  }
  a{
    text-decoration: none;
    border: 0.75 solid $color4;

  }
}