.Banner_title{
      width: 100%;
}

.Banner_background{
      background-image: url("../../../assets/assets/Form_Hero_Image.jpg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: border-box;
      position: relative;           
      width: 50%;
      height: 100%;
}

.Header_form_banner{
      display: flex;
      flex-direction: column;
      

      .Header_form{
            width: 100%;
            height: 70%;
            margin-top: 80px;
            justify-content: center;
            align-items: center;
            h1{
                  text-align: center;
                  font-size: 38px;
                  color: $color5;
                  font-weight: 500;
                  letter-spacing: -0.76px;
                  margin-bottom: 20px;
            }
            span{
                  text-align: center;
                  display: flex;
                  justify-content: center;

            }
            .Header_4Steps{
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  
                  p{
                        text-align: center;
                        font-size: 40px;
                        color: $color5;
                        font-weight: 300;
                  }
                  .Steps_box{
                        width: 500px;
                        height: 310px;
                        display: flex;
                        justify-content: center;
                        padding: 20px;
                        li{
                              width: 200px;
                              height: 200px;
                              display: flex;
                              justify-content: center;
                              flex-direction: column;
                              align-items: center;
                              color: $color5;
                              margin-top: 50px;
                              p{    
                                    width: 80px;
                                   z-index: 2; 
                                   font-size: 22px;
                                   font-weight: 300;
                                  
                                   
                              }
                              
                              
                              
                              &::after{
                                    content: "";
                                    width: 110px;
                                    height: 110px;
                                    border:0.75px solid $color5;
                                    transform: rotate(45deg);
                                    z-index: 1;
                              }
                        }

                  }
                  
            }
           
            
            
      }
}
