.Form_content{
      width: 100%;
      display: flex;
      flex-direction: column;
      .Important_box{
            width: 100%;
            padding: 3% 0;
            background-color: #FAD648;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2{
                  width: 90%;
                  font-size: 36px;
            }
            p{
                  width: 90%;
                  color: $color5;
                  margin-top: 2%;
                  padding-left: 2%;
            }
      }
}

.Form_box{
      height: 70vh;
      display: flex;
      flex-direction: column;
      // padding: 2% 5%;
      background-image: url("../../../assets/assets/Background-Form.jpg");
      background-repeat: no-repeat;
      background-position: 50% 0px;
      background-size: cover;
      .Steps_number{
            color: $color5;
            font-size: 24px;
            font-weight: 300;
            margin:2% 0 0 2%;

      }
}

.form_radio{
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 2% 5%;
      
      .text_local{
            font-size: 36px;
            font-weight: 500;
      }
      a{    
            width:180px;
            height: 80px;
            text-decoration: none;
            border: 0.75px solid $color5;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color5;
      }
}
.form_radio_box{
      font-size: 24px;
      font-weight: 300;
      width: 80%;
      li{
            padding: 3%;
      }
      label{
            display: flex;
            align-items: center;
      }
      input[type="radio"]{
            margin-right: 5%;
            cursor: pointer;
            height: 40px;
            width: 40px;
            appearance: none;
            border:0.75px solid $color5;
            
            &:checked {
                  background-color: #FAD648;
                  border:0.75px solid $color5;
                  
            }
            
      }
     
}

@media only screen and (max-width: 500px) {
      .Important_box{

      }
      .Form_box{
            height: 100vh;
            .form_radio{
                  .text_local{
                        width: 100%;
                        font-size: 28px;
                        padding-left: 2%; 
                  }
                  .form_radio_box{
                        width: 100%;
                        font-size: 21px;
                        .form_radio_box input[type="radio"]{
                              height: 25px;
                              width: 25px;
                        }
                        label{
                              width: 100%;
                        }
                  }
            }
      }
      .label-description{
            text-align: left;
            width: 80%;
      }
     
}