.Banner_title{
      width: 100%;
}

.Banner_background{
      background-image: url("../../../assets/assets/Form_Hero_Image.jpg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;         
      width: 50%;
}

.Header_form_banner{
      display: flex;
      flex-direction: column;
      .Header_menu_log{
            li{
             padding: 5px 10px;
             display: flex;
             justify-content: center;
             align-items: center;
            }
      }

      .Header_form{
            width: 100%;
            height: 70%;
            margin-top: 10%;
            justify-content: center;
            align-items: center;
            h1{
                  text-align: center;
                  font-size: 38px;
                  color: $color5;
                  font-weight: 500;
                  margin-bottom: 3%;
            }
            span{
                  text-align: center;
                  display: flex;
                  justify-content: center;

            }
            .Header_4Steps{
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  
                  p{
                        text-align: center;
                        font-size: 40px;
                        color: $color5;
                        font-weight: 300;
                        width: 100%;
                  }
                  .Steps_box{
                        width: 100%;
                        max-width: 820px;
                        height: 310px;
                        display: flex;
                        justify-content: center;
                        // padding: 20px;
                        li{
                              width: 11%;
                              height: 200px;
                              display: flex;
                              justify-content: center;
                              flex-direction: column;
                              align-items: center;
                              color: $color5;
                              margin: 5% 10% 0 0;
                              position: relative;
                              .number_steps{
                                    font-size: 34px;
                                    font-weight: 300;
                              }
                              p{    
                                   width: 80px;
                                   z-index: 2; 
                                   font-size: 22px;
                                   font-weight: 300;
                                  
                                   
                              }
                                                      
                              &::after{
                                    content: "";
                                    width: 140px;
                                    height: 140px;
                                    border:0.75px solid $color5;
                                    transform: rotate(45deg);
                                    position: absolute;
                                    
                              }
                        }

                  }
                  
            }
           
            
            
      }
}
.User_email{
      display: flex;
      justify-content: center;
      font-size: 14px;
      font-weight: bold;
      padding: 0px;
      p{
            text-align: center;
      }

}

@media only screen and (max-width: 500px) {
      .User_email{
            font-size: 12px;
            font-weight: bold;
            padding: 0px;
      
      }
      .Header_form_banner .Header_form {
            margin-top: 30%;
           h1{
            font-size: 28px;
           } 
            .Header_4Steps{
                  margin-top: 15%;
                  p{
                        font-size: 28px;
                  }
                  .Steps_box{
                        height: 240px;
                              li{
                                    margin: 0% 0% 0 0;
                                    height: 170px;
                                    width: 22%;
                                    span.number_steps{
                                          font-size: 18px;
                                    }
                                    p{
                                          font-size: 14px;   
                                    }
                                    &::after{
                                          width: 70px;
                                          height: 70px; 
                                          border: 0.5px solid #3C3C3C;
                                    } 
                              }
                  
                        }
            }
      }

}