
.Form_box{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .text_local{
            width: 100%;
            font-size: 36px;
            padding-left: 2%;
      }
}

.Numbers_of_bags{
      width: 100%;
      height: 45vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
}
.Select_content{
      padding-left: 2%;
      width: 400px;
      display: flex;
      align-items: center;
      
      .Chosse_numbers{
            width: 220px;
            height: 50px;
            margin-left: 10px;
            padding-left: 15px;
            font-size: 24px;
            border:0.75px solid $color5;
            -webkit-appearance: none;
            -moz-appearance:none;
            appearance: none;
            background-color: #ececea!important;
            background: url("../../../assets/assets/Icon-Arrow-Down.svg") 96% / 15% no-repeat #EEE;
            &:focus{
                  background: url("../../../assets/assets/Icon-Arrow-Up.svg") 96% / 15% no-repeat #EEE;
            }
            
      }
}


.buttons_step2{
      width: 40%;
      margin-left: 2%;
      height: 10%;
      a{
            width: 180px;
            height: 80px;
            padding: 15px 30px;
            text-align: center;
            border: 0.75px solid $color5;
            cursor:pointer;
            &:first-of-type{
                  margin-right: 5%;
            }
      }
      


}