.information{
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-left: 2%;
      .information_content{
            width: 50%;
            display: flex;
            flex-direction: column;
            .information_content_text{
                  font-size: 24px;
                  font-weight: 500;
            }
            .client_info{
                  width: 55%;
                  display: flex;
                  justify-content: space-between;
                  margin-top: 20px;
                  p{
                        width: 100px;
                  }
                  input{
                        width: 180px;
                        height: 30px;
                  }
            }
      }
}

.error_message_label{
      width: 30%;
      color: red;
      font-size: 14px;
      text-align: left;
      margin-left: 20%;
      margin-top: 1%;
}

.buttons_step3{
      width: 100%;
      margin-top: 2%;
      padding-left: 2%;
            a{
            width: 180px;
            padding: 15px 30px;
            text-align: center;
            border: 0.75px solid $color5;
            cursor:pointer;
                  &:first-of-type{
                        margin-right: 50px;
                  }
            }
}