.Home_Banner_LoggScreen{
      width: 100%;
      display: flex;
      align-self: flex-end;
      justify-content: flex-end;
      position: relative;
      .Header_menu{
            width: 50%;
            display: flex;
            justify-content: space-between;
            .Header_logg_option{
                  width: 100%;
            }   
      }
}

.Logg_Form {
      width: 100%;
      color:$color5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 10%;   
      h2{
            font-size: 40px;
            margin-bottom: 20px;
      }
      .Logg_Form_date{
            width: 30%;
            height: 235px;
            min-width: 300px;
            max-width: 700px;
            background-color: $color1;
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                  width: 250px;
                  font-weight: 500;
            }
            input{
                  width: 250px;
                  height: 30px;
                  border:none;
                  border-bottom: 0.75px solid $color6 ;
                  background-color: $color1;
                  margin-bottom: 30px;

            }
            
      }
      .Logg_Form_btn{
            width: 30%;
            min-width: 300px;
            max-width: 700px;
            margin-top: 2%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
            text-decoration: none;
            color: $color5;
            padding: 20px 30px;
            font-weight: 300;
            border: 0.75px solid white;
            &:hover{
                  border: 0.75px solid $color5;
                  padding: 20px 30px;
            }

            }
      }
}
.Error_msg_logg{
      font-size: 16px;
      color: red;
      font-weight: 500;
}

@media only screen and (max-width: 500px) {
      .Home_Banner_LoggScreen .Header_menu{
            width: 100%;
      }
      .Home_Banner_LoggScreen{
           height: 100%;
      }
      .Logg_Form{
            margin-top: 0;
            height: 100vh;
      }
}