.AboutUs{
      width: 100%;
      height: 700px;
      margin-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      .aboutUs_text{
            background-color: $color1;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .aboutUs_text_box{
                  width: 70%;
                  font-size: 30px;
                  font-weight: 400;
                  color: $color5;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  text-align: center;
                  
                  h3{
                        font-size: 38px;
                        font-weight: 400;
                        color: $color5;
                  }
                  .signature_box{
                        align-self: flex-end;
                        
                  }
            }
      }
      .aboutUs_picture{
            width: 50%;
            height: 700px;
            img{
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: content-box;
            
            }
      }
}