.Footer_Content{
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      align-self: flex-end;
      z-index: 1;
      img{
            padding: 10px;
      }
      
}