.HelpPeople{
      margin-top: 5%;
      margin-bottom:55px;
      width: 100%;
      max-width: 1800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3{
            font-size: 2em;
            width: 100%;
            margin-bottom: 1%;
            text-align: center;
            font-weight: 400;
            color: $color5;
            
      }
      .HelpPeople_description{
            width: 50%;
            margin-top: 3%;
            text-align: center;
            font-size: 1.2em;
            color: $color5;
      }
      .HelpPeople_filter{
            width: 100%;
            margin-top: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1000px;
            a{
                  width: 208px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  text-decoration: none;
                  color: $color5;
                  box-shadow: 0 1px 1px 1px #f0f1f1;
                  margin-top: 5px;
                  font-size: 24px;
                  margin-right: 30px;
                  margin-left: 30px;
                  padding: 20px;
                  border: 1px solid white;
                  &:hover{
                        border:1px solid $color4;
                        cursor: pointer;
                  }
            }
      }
 
      .HelpPeople_table{
            margin-top: 3%;
            width: 80%;
            max-width: 1800px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .Fundation_name{
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  
                  .Elements_table{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin-top: 2%;
                        padding-bottom:20px;
                        border-bottom: 1px solid $color6;
                        h3{   
                              font-size: 26px;
                        }
                        p{
                              font-size: 18px;
                              font-weight: 300;
                        }
                        .items_right{
                              align-self: flex-end;
                              
            
                        }

                  }
            }
            
      }
}

.numbers{
      width: 150px;
      display: flex;
      justify-content: center;
      align-self: center;
      li{
            
            box-shadow: 0 1px 1px 1px $color1;
            padding: 10px;
            margin: 10px 5px 0 0; 
            cursor: pointer;
      }
}

.Btn_clicked{
      border: 1px solid $color6;
}

@media only screen and (max-width: 500px) {

      .HelpPeople{
            margin-top: 15%;
            h3{
                  margin-bottom: 5%;
            }
            .HelpPeople_filter{
                  width: 100%;
                  flex-direction: column;
            }
            .HelpPeople_description{
                  width: 90%;
                  font-size: 1em;
                  line-height: 1.4;
                  margin: 10% 0;
            }
            .HelpPeople_table{
                  width: 90%;
                  .Fundation_name .Elements_table{
                        // margin-top: 10%;
                        flex-direction: row;
                        flex-wrap: wrap;
                        padding-bottom: 10px;
                        p{
                              display: flex;
                              width: 100%;
                              padding: 5px 10px;
                        }
                  }
            }
      }

}