.Home_Header{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      
      .Header_background{
            background-image: url("../../../assets/assets/Home-Hero-Image.jpg");
            background-position: 90% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;           
            width: 45%;
      }
      
      .Header_menu_banner{
            width: 55%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
            .Header_menu_title{
                  width: 95%;
                  margin: 27% 0;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  color: $color5;
                  h1{
                        width: 100%;
                        text-align: center;
                        opacity: 1;
                        font-weight: 500;
                        letter-spacing: -0.76px;
                        margin-bottom: 30px;
                        font-size: 2.5em;
      
                  }    
            }
           
            .Header_menu_buttons{
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  a{    
                        color: $color5;
                        width: 45%;
                        height: 120px;
                        font-weight: 300;
                        text-decoration: none;
                        font-size: 36px;
                        border:0.75px solid $color4;
                        opacity: 1;
                        display: flex;
                        
                        align-items: center;
                        p{
                              width: 100%;
                              text-align: center;
                        }
                  }
            }
            
      }
      .mobile_menu{
            background-color: black;
            position: absolute;
            top: 40px;
            justify-content: center;
            flex-direction: column;
            li.menu_nav_link{
                  a{
                        $color1 :#F0F1F1;
                  }
                  
            }
      }
}
.border_decoration{
      width: 100%;
      text-align: center;
      height: 35px;
      margin-bottom: 3%;
}

.hamburger_menu{
      position: absolute;
      width: 30px;
      height: 30px;
      margin: 10px;
}


@media only screen and (max-width: 600px) {
      .Home_Header .Header_menu_banner{
            width: 100%;
            .Header_logg_option{
                  width: 100%;
                  li{
                        padding: 5px 15px;
                        a{
                              font-size: 14px;
                        }
                  }
            }
      }
            .Header_menu{
                  position: relative;
                  display: flex;
                  flex-direction: row;
            }
            .Header_background{
                  // background-image: url("../../../assets/assets/Home-Hero-Image.jpg");
                  // background-position: right;
                  // background-repeat: no-repeat;
                  // background-size: border-box;
                  // position: relative;           
                  // width: 50%;
                  // height: 100%;
                  display: none;
            }
      

      .Home_Header .Header_menu_banner .Header_menu_title{
            width: 100%;
            margin: 43% 0;
            h1{
                  font-size: 2em;
            }
      }
      .Home_Header .Header_menu_banner .Header_menu_buttons {
            width: 90%; 
             a{
            width: 40%;
            font-size: 1.4em;
            padding: 10px;
            margin: 5px;
            height: 100px;
             }
      }
      
}